body.normal {
  background: linear-gradient(to bottom, purple, pink);
  min-height: 100vh;
  overflow: hidden;
}
.container {
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
  font-family: sans-serif;
  border: 3px solid #ffccff;
  padding-bottom: 300px;
  border-radius: 30px;
  box-shadow: 0 0 10px #ffccff;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  padding: 10px;
  width: 80%;
  margin-bottom: 10px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 2px 6px black;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 30px;
  border: none;
  box-shadow: 0 2px 6px black;
}
button:hover {
  background-color: #ffccff;
}

.hidden {
  display: none;
}
#lyrics-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: white;
  text-align: center;
  white-space: pre-line;
  opacity: 1;
  transition: opacity 2s ease-in;
  font-family: "Courier New", monospace;
}

body.dark-mode {
  background-color: black;
  transition: background-color 2s ease;
}

.left {
  animation: left 3s forwards linear;
  font-size: 15rem;
}
.shine {
  text-shadow: 0 0 5px white, 0 0 5px whitesmoke;
  animation: zoomIn 3s linear forwards;
}

@keyframes left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes zoomIn {
  100% {
    font-size: 5rem;
  }
}

#you-know {
  font-weight: bold;
  color: rgb(0, 140, 255);
}

@media (max-width: 768px) {
  .left {
    animation: left 3s forwards linear;
    font-size: 10rem;
  }
  .shine {
    text-shadow: 0 0 5px white, 0 0 5px whitesmoke;
    animation: zoomIn 3s linear forwards;
  }
}

/* =====================
=== loading animation ==
========================*/
#result {
  margin-top: 20px;
  font-weight: bold;
  transition: all 0.3s ease;
  opacity: 0;
}
/*
#result.show {
  opacity: 1;
}
*/
.loading {
  font-size: 2rem;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
}

.dots::after {
  content: "";
  display: inline-block;
  animation: dots 1.5s steps(4, end) infinite;
}

@keyframes dots {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}
/*done*/
